#mobile-menu-button {
	float: right;
	width: 44px;
	margin: 20px 0;
}

#mobile-main-menu {
	display: none;
}

#mobile-main-menu a {
	display: block;
	width: 110%;
	padding: 10px 0;
	border-top: 1px solid #eee;
	text-align: center;
	text-transform: uppercase;	
}
#mobile-main-menu li {
	list-style-type: none;
	margin: 0;
}
#mobile-main-menu a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #a3d900;
}
